// SECTION
$background: wheat
$x-padding: 10px

// WRAPPER
$min-height: 100vh
$y-padding: 120px

.hero-section 
    background: $background
    padding: 0 $x-padding

.hero-wrapper
    min-height: $min-height
    padding: $y-padding 0
    display: flex
    justify-content: center
    align-items: center
